{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'dist/fonts/fontawesome-all.min.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #26344d;">
                    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#"><img style="background: url(&quot;Proyecto CASE (192 × 192 px) (250 × 70 px) (250 × 250 px) (1).png&quot;);position: absolute;margin-top: 1cm;" src="assets/img/Proyecto%20CASE%20(192%20×%20192 px)%20(250%20×%2070 px)%20(250%20×%20250 px)%20(1).png" width="130" height="130">
                            <div class="sidebar-brand-icon rotate-n-15"></div>
                            <div class="sidebar-brand-text mx-3"></div>
                        </a>
                        <hr class="sidebar-divider my-0">
                        <ul class="navbar-nav text-light" id="accordionSidebar-1">
                            <li class="nav-item"><a class="nav-link" href="{% url 'usuarios:home_alumno' %}" style="margin-top: 2cm;"><i class="fas fa-home"></i><span>&nbsp;Inicio</span></a></li>
                            <hr class="sidebar-divider">
                            <div class="sidebar-heading">
                                <p class="mb-0">Solicitar</p>
                            </div>
                            <li class="nav-item"></li>
                            <li class="nav-item">
                                <div><a class="btn btn-link nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-2" href="#collapse-2" role="button"><i class="fas fa-user-friends"></i>&nbsp;<span>Servicios</span></a>
                                    <div class="collapse" id="collapse-2">
                                        <div class="bg-white border rounded py-2 collapse-inner">
                                            <h6 class="collapse-header">Listar</h6><a class="collapse-item" href="utilities-border.html"><i class="fas fa-user-lock"></i>Administradores</a><a class="collapse-item" href="utilities-animation.html"><i class="fas fa-user-tie"></i>Responsables</a><a class="collapse-item" href="utilities-other.html"><i class="fas fa-user-graduate"></i>Alumnos</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <hr class="sidebar-divider">
                            <div class="sidebar-heading">
                                <p class="mb-0">Otros</p>
                            </div>
                            <li class="nav-item">
                                <div id="collapsePages" class="collapse" aria-labelledby="headingTwo" aria-controls="collapsePages" data-bs-parent="#accordionSidebar">
                                    <div class="bg-white border rounded py-2 collapse-inner">
                                        <h6 class="collapse-header">LOGIN SCREENS:</h6><a class="collapse-item" href="#">Login</a><a class="collapse-item" href="#">Register</a><a class="collapse-item" href="#">Forgot Password</a>
                                        <h6 class="collapse-header">OTHER PAGES:</h6><a class="collapse-item" href="#">404 Page</a><a class="collapse-item" href="#">Blank Page</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="charts.html"><i class="fas fa-calendar-alt"></i><span>Horarios</span></a></li>
                            <li class="nav-item"></li>
                            <hr class="sidebar-divider">
                        </ul><a class="btn btn-primary" type="button" href="{% url 'usuarios:logout' %}" style="background: var(--bs-btn-hover-color);color: rgb(255,0,0);">Salir</a>
                        <div class="text-center d-none d-md-inline"></div>
                    </div>
                </nav>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar"></ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><a class="btn btn-light btn-icon-split" role="button"></a>
                        <nav class="navbar navbar-light navbar-expand-md">
                            <div class="container-fluid"><a class="navbar-brand" href="#"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                                <div class="collapse navbar-collapse" id="navcol-1"></div>
                            </div>
                        </nav>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow"></li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0" style="font-size: 23px;">Bienvenido {{user.nombre}} al sistema de Seguimiento de Trayectoria Escolar CASE</h3>
                    </div>
                    <div class="col">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary m-0 fw-bold" style="color: #26344d;--bs-primary: #26344d;--bs-primary-rgb: 38,52,77;">SERVICIOS</h6>
                            </div>
                            <div class="card-body">
                                <p class="m-0">El Centro de Aprendizaje y Servicios Estuidantiles CASE ofrece distintas opcciones para los estuidantes de la Universidad Autónoma de Zacatecas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="--bs-primary: #26344d;--bs-primary-rgb: 38,52,77;color: #26344d;">Servicio de&nbsp;</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span></span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span style="color: #26344d;">Servico de&nbsp;</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span></span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span style="color: #26344d;">Servicio de&nbsp;</span></div>
                                            <div class="row g-0 align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark fw-bold h5 mb-0 me-3"><span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: #26344d;">Servicio De</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span></span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>© Centro de Aprendizaje y Servicios Estudiantiles CASE&nbsp;</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'dist/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/js/theme.js' %"></script>
</body>

</html>