{% load static %}
<!DOCTYPE html>
<html lang="en" style="background: rgb(231,231,231);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body class="bg-gradient-primary" style="background: rgb(231,231,231);">
    <div class="container" style="margin-top: 150px;">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background: url(&quot;static/dist/img/dogs/case_login.jpg&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4" style="font-size: 33px;font-weight: bold;">Registrar nueva cuenta</h4>
                                {% if form.errors %}
                                    <div class="alert alert-warning">
                                        {{form.errors}}
                                    </div>
                                {% endif %}
                            </div>
                            <form class="user" method = "POST">
                                {% csrf_token %}
                                <div class="mb-3"><input type="text" class="form-control" placeholder="Nombre de usuario" name="username" value="{% if form.username.value %}{{form.username.value}}{% endif %}" style="margin-bottom: 15px;">
                                <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Correo electrónico" name="email" style="margin-bottom: 15px;">
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Contraseña" name="password"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repetir contraseña" name="repassword"></div>
                                </div>
                                <hr><button class="btn btn-primary d-block btn-user w-100" type="submit" style="background: #d7a44c;">Registrar cuenta</button>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">¿Olvidaste la contraseña?</a></div>
                            <div class="text-center"><a class="small" href={%url 'usuarios:login' %}>¿Ya tienes cuenta? Ingresa!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'dist/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/js/theme.js' %"></script>
</body>

</html>